.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

#timeline {
  margin: auto;
  width: 960px;
  height: 500px;
}

.bar {
  fill: steelblue;
  cursor: pointer;
}

.error {
  color: red;
}

.tooltip {
  font-size: 12px;
}

.avg-duration {
  font-size: 12px;
  fill: #666;
}